%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


.icon-arrow_long:before {
   content: "\e900";
   color: #8aa831;
 }
 .icon-email-address:before {
   content: "\e901";
   color: #fff;
 }

 