//====================================================================================================

.footer {
    padding-bottom: rem(51);
    &__container {
    }

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: percent(65, 1340);
        @media (max-width: em(525)) {
            flex-wrap: wrap;
            column-gap: 0;
            row-gap: rem(25);
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex: 0 1 rem(819);
        column-gap: rem(10);
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(20);
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: rem(250);
        flex: 0 1 rem(344);
        transform: translateY(-20px);
        @media (max-width: em(525)) {
            flex: none;
            width: 100%;
        }
    }

    &__spollers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // flex: 0 1 100%;
        min-height: 100%;
    }
}
.footer-info {
    &__body {
    }

    &__logo {
        transform: translateY(-28px);
    }

    &__text {
    }
}
.logo {
}
.spollers {
    &__item {
    }

    &__title {
    }

    &__body {
    }
}
.footer-posts {
    // max-width: rem(313);
    // min-width: rem(250);
    &__title {
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(25);
    }

    &__item {
        transition: transform 0.4s ease 0s;
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                transform: translateX(10px) scale(1.02);
            }
        }
        @media (any-hover: none) {
            text-decoration: underline;
        }
    }

    &__link {
        display: block;
        line-height: math.div(20, 16);
        max-width: rem(313);
        font-size: rem(16);
    }
}
.footer-feed {
    &__title {
    }

    &__list {
        display: grid;
        grid-template: repeat(2, rem(50)) / repeat(3, rem(51));
        gap: rem(15);
    }

    &__item {
        // background-color: red;
        transition: transform 0.4s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: translate3d(10px, -5px, 5px);
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
    }

    &__image {
        display: block;
        width: 100%;
    }
}
.footer-navigation {
    &__title {
    }

    &__body {
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(15);
    }

    &__item {
    }

    &__link {
        line-height: math.div(20, 16);
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 2px);
            left: 0;
            width: 0;
            height: 2px;
            background-color: $mainColor;
            transition: width 0.6s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

//====================================================================================================
