//====================================================================================================
.page {
    &__main-screen {
        @include adaptiveValue("padding-bottom", 179, 130);
    }
}
.main-screen {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 0 1 rem(549);
        min-width: rem(400);
    }

    &__title {
        font-weight: 700;
        font-size: 70px;
        @include adaptiveValue("font-size", 70, 42);
        line-height: math.div(81, 70);
        position: relative;
        &:not(:last-child) {
            margin-bottom: em(52, 70);
            padding-bottom: em(50, 70);
        }
        &::before {
            content: "";
            display: block;
            bottom: 0;
            left: 0;
            position: absolute;
            height: 4px;
            background-color: $mCGreen-2;
            width: percent(112, 549);
        }
    }

    &__description {
        font-size: rem(26);
        line-height: math.div(36, 26);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 71, 35);
        }
    }

    &__button-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem(445);
        width: 100%;
        column-gap: rem(15);
    }

    &__button {
        padding: em(16, 20) 0;
        flex: 0 1 rem(233);
        min-width: rem(200);
    }

    &__link {
    }

    &__image-box {
        flex: 0 1 rem(698);
    }

    &__image {
        width: 100%;
        max-width: rem(698);
        min-width: rem(290);
        display: block;
        transition: transform 5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                // transform: rotate3d(-102, 154, 26, 1029deg);
            }
        }
    }
}

.link-download {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(161);
    width: 100%;
    border-radius: rem(27);
    transition: border 0.5s ease 0s;
    border: 1px solid rgba(76, 93, 118, 0);
    @media (any-hover: hover) {
        &:hover {
            border: 1px solid rgba(76, 93, 118, 0.2);
            .link-download__icon {
                transform: translateY(6px);
            }
            .link-download__text {
                color: rgb(76, 93, 118);
            }
        }
    }
    &__icon {
        transition: transform 0.5s ease 0s;
        flex: 0 0 rem(47);
        height: rem(47);
        display: inline-block;
        text-align: center;
        overflow: hidden;
    }

    &__text {
        transition: color 0.5s ease 0s;
        font-weight: 700;
        line-height: em(22, 16);
        color: rgba(76, 93, 118, 0.66);
    }
}

//====================================================================================================

.page {
    &__offer {
        @include adaptiveValue("padding-bottom", 160, 120);
    }
}
.offer {
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: rem(37) rem(52) rem(57) 0;
        position: relative;
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 0;
        font-weight: 700;
        font-size: 36px;
        @include adaptiveValue("font-size", 36, 22);
        transform: translate(0, -50%) rotate(-90deg);
        // line-height: math.div(17, 36);
    }

    &__action {
        flex: 0 1 rem(493);
        margin: 0 0 0 percent(132, 1340);
        padding-left: rem(36);
        min-height: rem(241);
    }
    &__info {
        flex: 0 1 rem(507);
        min-height: rem(210);
    }
}
.offer-action {
}
.offer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__coin-list {
        width: 100%;
        padding-bottom: rem(58);
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #bee1bc;
            height: 1px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__text {
        font-size: rem(14);
        line-height: math.div(22, 14);
        color: #9ba4b2;
    }
    &__button {
        max-width: rem(233);
        min-width: rem(200);
        width: 100%;
        padding: rem(16) 0;
    }
}
.timer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(20);
    &__days {
    }

    &__count {
        font-family: "Mina";
        font-weight: 400;
        @include adaptiveValue("font-size", 60, 40);
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
    }

    &__name {
        text-align: center;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
    }

    &__hour {
    }

    &__minutes {
    }

    &__second {
    }
}
.coin-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(20);
    &__item {
        display: flex;
        align-items: flex-start;
        gap: rem(14);
    }

    &__icon {
        flex: 0 0 rem(35);
        height: rem(35);
        display: block;
        overflow: hidden;
        transition: transform 4s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: rotate3d(5, 80, 10, 1440deg);
            }
        }
    }

    &__inner {
        flex: 1 0 auto;
    }

    &__cost {
        font-weight: 500;
        line-height: math.div(17, 16);
        text-transform: uppercase;
        max-width: rem(120);
        word-wrap: break-word;
        word-break: normal;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    &__name {
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: rgba(76, 93, 118, 0.61);
        max-width: rem(120);
    }
}

//========================================================================================================================================================

.page {
    &__about {
        @include adaptiveValue("padding-bottom", 152, 125);
    }
}
.about {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__image-box {
        flex: 0 1 rem(650);
        min-width: rem(290);
    }

    &__image {
        width: 100%;
    }

    &__content {
        flex: 0 1 rem(606);
    }

    &__sub-title {
        &:not(:last-child) {
            padding-bottom: em(22, 46);
            margin-bottom: em(48, 46);
        }
    }

    &__description {
        font-size: rem(20);
        line-height: math.div(32, 20);
        &:not(:last-child) {
            margin-bottom: em(31, 20);
        }
    }

    &__sub-description {
        line-height: math.div(31, 16);
        color: rgba(76, 93, 118, 0.82);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 61, 30);
        }
    }

    &__list {
    }
}

.list-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(20);
    &__item {
        flex: 0 1 rem(230);
        line-height: math.div(21, 16);
        color: #4c5d76;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: rem(20);
        &::before {
            content: "";
            position: relative;
            display: block;
            width: rem(12);
            height: rem(12);
            background-color: $mCGreen-2;
            border-radius: 50%;
        }
    }
}

//========================================================================================================================================================

.page {
    &__companies {
        @include adaptiveValue("margin-bottom", 150, 120);
        padding: rem(50) 0;
        border-top: 1px solid rgba(174, 216, 176, 0.43);
        border-bottom: 1px solid rgba(174, 216, 176, 0.43);
    }
}
.companies {
    &__container {
    }

    &__list {
        padding: 0 percent(55, 1340);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: percent(124, 1340);
        row-gap: rem(35);
    }

    &__item {
        flex: 0 0 auto;
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}

//========================================================================================================================================================

.page {
    &__game {
        @include adaptiveValue("padding-bottom", 181, 130);
    }
}
.game {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 0 1 rem(607);
    }

    &__sub-title {
        line-height: math.div(56, 46);
        &:not(:last-child) {
            margin-bottom: 1em;
            padding-bottom: em(22, 46);
        }
    }

    &__description {
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div(32, 20);
        &:not(:last-child) {
            margin-bottom: em(30, 20);
        }
    }

    &__sub-description {
        line-height: math.div(31, 16);
        color: rgba(76, 93, 118, 0.82);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 40);
        }
    }

    &__button-box {
    }

    &__button {
        max-width: rem(275);
        width: 100%;
        min-width: rem(200);
        padding: rem(17) 0;
    }

    &__image-box {
        flex: 0 1 rem(652);
        min-width: rem(290);
    }

    &__image {
        width: 100%;
    }
}

//========================================================================================================================================================

.page {
    &__profin {
        @include adaptiveValue("padding-bottom", 154, 130);
    }
}
.profin {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__image-box {
        flex: 0 1 rem(658);
        min-width: rem(290);
    }

    &__image {
        width: 100%;
    }

    &__content {
        flex: 0 1 rem(607);
    }

    &__sub-title {
        line-height: math.div(56, 46);
        &:not(:last-child) {
            margin-bottom: 1em;
            padding-bottom: em(38, 46);
        }
    }

    &__description {
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div(32, 20);
        &:not(:last-child) {
            margin-bottom: em(30, 20);
        }
    }

    &__sub-description {
        line-height: math.div(31, 16);
        color: rgba(76, 93, 118, 0.82);
    }
}

//========================================================================================================================================================

.page {
    &__benefits {
        @include adaptiveValue("padding-bottom", 199, 140);
    }
}
.benefits {
    &__container {
    }

    &__sub-title {
        max-width: rem(725);
        line-height: math.div(56, 46);
        &:not(:last-child) {
            margin-bottom: em(80, 46);
            padding-bottom: em(57, 46);
        }
    }

    &__list {
        // justify-content: space-between;
        // align-items: flex-start;
    }
}

.list-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // justify-content: center;
    row-gap: rem(81);
    &__item {
        flex: 0 1 rem(408);
        display: flex;
        align-items: center;
        gap: rem(26);
    }

    &__icon {
        flex: 0 0 rem(96);
        // min-width: rem(60);
        align-self: flex-start;
    }

    &__inner {
    }

    &__name {
        max-width: rem(286);
        font-weight: 700;
        @include adaptiveValue("font-size", 22, 18);
        line-height: math.div(21, 22);
        &:not(:last-child) {
            margin-bottom: em(17, 22);
        }
    }

    &__description {
        @include adaptiveValue("font-size", 18, 16);
        line-height: math.div(25, 18);
        max-width: rem(236);
    }
}

//========================================================================================================================================================

.page {
    &__team {
        @include adaptiveValue("padding-bottom", 150, 120);
    }
}
.team {
    &__container {
    }

    &__sub-title {
    }

    &__list {
    }
}

.list-team {
    &__item {
    }

    &__person {
    }
}
.card-person {
    max-width: rem(222);
    position: relative;
    &__image-ibg {
        max-width: rem(202);
        margin: 0 auto;
        padding-bottom: percent(202, 222);
        border-radius: 50%;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(38);
        }
    }

    &__name {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(23, 24);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(23, 24);
        }
    }

    &__description {
        @include adaptiveValue("font-size", 18, 16);
        line-height: math.div(23, 18);
        text-align: center;
    }
    &__icon {
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(51);
        height: rem(51);
        background-color: rgba($color: $mainColor, $alpha: 0.6);
        border-radius: 50%;
    }
}
